@model task_distribution_app.Models.ViewModels.TaskVM
@{
    ViewBag.Title = "Task Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body text-bg-light">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <h5>Task Detayları</h5>
                        <div>
                            <a href="/analyst/task/@Model.id/edit" class="btn btn-warning btn-sm me-1"><i class="bi bi-pencil"></i></a>
                            <a href="/analyst/task/@Model.id/delete" class="btn btn-danger btn-sm me-1"><i class="bi bi-trash3"></i></a>
                            <a href="/analyst" class="btn btn-dark btn-sm"><i class="bi bi-house"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 mb-2">
                        <h3>@Model.difficultylevelName</h3>
                        <h4>@Model.title</h4>
                        <p>@Model.description</p>
                        <p>@Model.createdUserFullname / @Model.createdAt</p>
                        <p>@Model.assignedUserFullname</p>
                        <p>@(Model.isComplete == true ? "Tamamlandı" : "Tamamlanmadı")  | @Model.completeDate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


