@model task_distribution_app.Models.ViewModels.TaskVM
@{
    ViewBag.Title = "Task Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12">
        <div class="card border-0 shadow-sm">
            <div class="card-body text-bg-light">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <h5>Task Detayları</h5>
                        <div>
                            <a href="/analyst/task/@Model.id/edit" class="btn btn-warning btn-sm me-1"><i class="bi bi-pencil"></i></a>
                            <a href="/analyst/task/@Model.id/delete" class="btn btn-danger btn-sm me-1"><i class="bi bi-trash3"></i></a>
                            <a href="/analyst" class="btn btn-dark btn-sm"><i class="bi bi-house"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 col-12 mb-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Zorluk Seviyesi</div>
                                    @Model.difficultylevelName
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Başlık</div>
                                    @Model.title
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Açıklama</div>
                                    @Model.description
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12 mb-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Oluşturan Kullanıcı / Oluşturma Tarihi</div>
                                    @Model.createdUserFullname / @(((DateTime)Model.createdAt).ToString("dd.MM.yyyy"))
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Atanan Kullanıcı</div>
                                    @Model.assignedUserFullname
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                <div>
                                    <div class="fw-bold">Tamamlanma Durumu</div>
                                    @(Model.isComplete == true ? "Tamamlandı" : "Tamamlanmadı")  @(Model.completeDate != null ? ((DateTime)Model.completeDate).ToString("dd.MM.yyyy") : "")
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


